
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teachers Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/jobayer_alam_24_ICTBD_MVC_Project_2.styles.css" asp-append-version="true" />
</head>
<body>

     <div class="container mt-5">
        <h2 class="text-center mb-4">Teacher Information Form</h2>
        <form enctype="multipart/form-data" asp-action="CheckForm">
            <div class="form-group">
                <label for="teacherName">Full Name</label>
                <input type="text" class="form-control" id="teacherName" placeholder="Enter full name" name="FullName">
            </div>
            <div class="form-group mt-3">
                <label for="teacherEmail">Email Address</label>
                <input type="email" class="form-control" id="teacherEmail" placeholder="Enter email" name="Email">
            </div>
            <div class="form-group mt-3">
                <label for="teacherPhone">Phone Number</label>
                <input type="text" class="form-control" id="teacherPhone" placeholder="Enter phone number" name="PhoneNumber">
            </div>
            <div class="form-group mt-3">
                <label for="teacherSubject">Subject Specialization</label>
                <input type="text" class="form-control" id="teacherSubject" placeholder="Enter subject specialization" name="SpecialSubject">
            </div>
            <div class="form-group mt-3 mb-3">
                <label for="teacherExperience">Years of Experience</label>
                <input type="text" class="form-control" id="teacherExperience" placeholder="Enter years of experience" name="ExperienceYear">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
